@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
    
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", serif;
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.hero {
    background-color: #000000;
    height: 1030px;
}

.hero-title {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
    padding-top: 125px;
    color: #ffffff;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 10px;
}

.hero-span {
    font-weight: bold;
    color: #ffbb00;
}

.hero p {
    color: #ffffff;
    width: 310px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-button {
    border: 1px solid #ffbb00;
    border-radius: 5px;
    padding: 20px 15px;
}

.hero a {
    color: #ffbb00;
}

.hero a:hover {
    opacity: 0.8;
}

.triggers {
    margin-top: 100px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    gap: 145px;
    align-items: flex-start;
}

.triggers li {
    font-weight: 300;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triggers img {
    margin-top: 9px;
}

h2 {
    font-size: 30px;
}

.auto-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.auto-item {
    border: 1px solid black;
    padding: 50px 20px;
    border-radius: 15px;
}

.auto-item:hover {
    color: #ffffff;
    background: #ffbb00;
}

.auto-item h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

section {
    margin-top: 30px;
}

.auto h2 {
    margin-bottom: 20px;
}

.show-more {
    border: 1px solid #ffbb00;
    border-radius: 10px;
    padding: 20px 0;
    width: 220px;
    display: block;
    text-align: center;
}

.auto a {
    color: #ffbb00;
    margin: 0 auto;
	margin-top: 20px;
}

.auto a:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    .container {
        width: 550px;
    }
    .triggers {
        align-items: center;
        gap: 45px;
        flex-direction: column;
    }
    .auto h2 {
        text-align: center;
    }
    .auto-list {
        justify-content: center;
    }
}